label {
  font-size: 14px;
}

::placeholder {
  font-size: 14px;
}

select,
input[type="date"] {
  font-size: 14px;
  color: #808080;
}

input[type="text"] {
  font-size: 14px;
  color: #808080;
}

textarea {
  font-size: 14px;
  color: #808080;
  font-family: inherit;
}

.form {
  padding: 1rem;
  border: 1px solid #e8e8e8;
  border-radius: 1rem;
}

.formTitle {
  font-size: 18px;
  font-weight: 600;
}

.btnAdd {
  background-color: var(--color-primary);
  color: #fff !important;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease;
  font-size: 14px;
  padding: 10px;
}

.btnAdd:hover {
  backdrop-filter: blur(4px) brightness(1.2);
  background-color: color-mix(in srgb, var(--color-primary) 85%, white);
  transform: scale(1.01);
}

.form-text {
  font-size: 10px;
  font-style: italic;
  color: #adb1b7;
}